<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frienemy.activities"
    android:versionCode="4"
    android:versionName="1.0.3" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" android:name="com.frienemy.FrienemyApplication">
        <meta-data android:name="AA_DB_NAME" android:value="Frienemy.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <activity 
            android:label="@string/app_name"
            android:name=".LicenseCheckActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
        <activity
            android:label="@string/app_name"
            android:name="com.frienemy.activities.FrienemyActivity"
            android:screenOrientation="portrait" >
        </activity>       
            <activity
        		android:name="com.frienemy.activities.EnemyActivity"
        		android:screenOrientation="portrait" >
            	<intent-filter >
            	</intent-filter>
        	</activity>
        	<activity
        		android:name="com.frienemy.activities.StalkerActivity"
        		android:screenOrientation="portrait" >
            	<intent-filter >
            	</intent-filter>
        	</activity>
        <service
      		android:name="com.frienemy.services.FrienemyService"
      		android:process=":remote">
      		<intent-filter>
        		<action
          			android:name="com.frienemy.services.FrienemyService" />
      		</intent-filter>
    	</service>
    	<receiver
  			android:name="com.frienemy.services.BootReceiver">
  			<intent-filter>
    			<action
      				android:name="android.intent.action.BOOT_COMPLETED">
    			</action>
  			</intent-filter>
		</receiver>
    </application>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="com.android.vending.CHECK_LICENSE" />
</manifest>